/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);


::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center;
}

.mt {
	margin-top: 80px;
}

.mb {
	margin-bottom: 80px;
}

/* ==========================================================================
   General styles
   ========================================================================== */


body {
   font-family: 'Noto Sans TC', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
    color: #4a4a4a;
}

/* ==========================================================================
   導覽列
   ========================================================================== */
/*logo*/
.navbar-brand {
	font-weight: 700;
	font-size: 3em;
}

.navbar-default .navbar-brand {
	color: #ffffff;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

/*導覽列*/
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: transparent;
	border-bottom: 3px solid #1abc9c
	margin:10em;
}

.navbar-default .navbar-nav > li > a {
	color: #ffffff;
	font-size: 2.5em;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: url(../img/back.jpg) no-repeat center top;
	height: 100vh;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

  #headerwrap:before
  {
    height: 100vh;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(60,50,70,0.5);
  }


/*標題字*/
#headerwrap h1 {
	color:#ffffff;
    margin-top: 5em;
	letter-spacing: 4px;
	font-size: 3em;
	font-weight: bold;
	   margin-left: auto;
  margin-right: auto; 
}

#headerwrap h2 {
	color:#ffffff;
    padding: 0.8em;
	letter-spacing: 4px;
	font-size: 2.5em;
	font-weight: bold;
	margin-left: auto;
  	margin-right: auto; 
}

.flexsearch--input {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 10vh;
  width: 50vw;
 

  border-color: #fff;
  border-radius: 35px;
  
  border-style: solid;
  border-width: 3px;

  color: #fff;
  font-family: 'Helvetica', sans-serif;
  font-size: 26px;
  -webkit-appearance: none;
  -moz-appearance: none;
   margin-left: auto;
  margin-right: auto; 
  background-color: #fff;

}
/*https://codepen.io/menzer/pen/geAto*/
#headerwrap > div > div > div > div > input{
	color: #fff;
	padding-left: 1em;
	background-color: transparent ;
}

.flexsearch--input:focus {
  outline: none;
  border-color: #fff;
}

#workwrap {	
	background: url(../img/work.jpg) no-repeat center top;
/*	margin-top: -70px;
	padding-top: 250px;*/
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#workwrap h1 {
	color:#ffffff;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#workwrap h4 {
	font-weight: 400;
	color: #ffffff
}


/* Gallery */
.gallery {
	margin-top: 30px;
}

.gallery img:hover {
	opacity: 0.4;
}

#footerwrap {
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #2f2f2f;
}

#footerwrap p {
	color: #f2f2f2;
	margin-left: 10px;
}