<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Food Timing 好食季</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
      <!-- logo -->
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">好食季</a>
        </div>
        <!-- 導覽列 -->
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="index.html">首頁</a></li>
            <li><a href="#about">當季食物</a></li>
            <li><a href="#works">推薦食物</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


	<div id="headerwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
					<h1>Food Timing </h1>
					<h2>好食季</h2>
				<div class="flexsearch--input-wrapper">
					<input class="flexsearch--input " type="search" placeholder="search">
				</div>
					<a href="#about" class="btn btn-primary btn-xl page-scroll">了解更多</a>
				</div>
			</div>
	    </div> <!-- /container -->
	</div>
	
    <section class="Vision" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">願景</h2>
                    <div class="light"></div>
                    <h3 class="text-faded">    你有興趣自己到市場走走，週末好好煮一頓犒賞自己一週來的辛勞，但卻怕自己老是挑到好看卻不好吃的食材、或比起每天做菜的婆婆媽媽對於當季的蔬果完全不了解，而讓我們選擇放下鍋鏟、放下我們自身的健康與滿足──我們想幫助的就是這樣的你，身為每天忙碌的學生、上班族，時間絕對不是阻礙我們好好吃一頓美味晚餐的理由！</h3>
                    <h3 class="text-faded">    Food timing 結合農委會開放資料，運用食材產季、產量、價格的數據，透過不同向度的比重配對出最為當季的食材組合，同時提升烹飪方面知識、並增加食材盛產價格下跌時的需求量。同時配合知名食譜網站 Cookpad 上的食譜資料，計算每份食譜的烹調成本與食物里程，Food timing 與你一起達成省時、美味、環保的三贏料理。</h3>
                </div>
            </div>
        </div>
    </section>



	<section id="about"></section>
	<div class="container">
		<div class="row centered mt mb">
			<h1>當季食物</h1>
			
			<div class="col-lg-4 col-md-4 col-sm-4 gallery">
				<a href="work.html"><img src="img/portfolio/folio0.png" class="img-responsive"></a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 gallery">
				<a href="work.html"><img src="img/portfolio/folio0.png" class="img-responsive"></a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 gallery">
				<a href="work.html"><img src="img/portfolio/folio0.png" class="img-responsive"></a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 gallery">
				<a href="work.html"><img src="img/portfolio/folio0.png" class="img-responsive"></a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 gallery">
				<a href="work.html"><img src="img/portfolio/folio0.png" class="img-responsive"></a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 gallery">
				<a href="work.html"><img src="img/portfolio/folio0.png" class="img-responsive"></a>
			</div>
		</div><! --/row -->
	</div><! --/container -->
	
<section class="bg-success" id="team">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center to-animate">
                    <h2>團隊成員</h2>
                    <div class="light"></div>
                </div>
                <div class="row row-bottom-padded-lg">
                    <div class="col-lg-4 text-center">
                        <div class="person">
                            <img src="./img/chen.jpg" class="img-responsive img-rounded center-block" alt="Person" />
                                <h3 class="name">陳宣毅</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center">
                        <div class="person">
                            <img src="./img/c.jpg" class="img-responsive img-rounded center-block" alt="Person" />
                                <h3 class="name">陳昶昇</h3>
                            </a>
                            </ul-->
                        </div>
                    </div>
                    <div class="col-lg-4 text-center">
                        <div class="person">
                            <img src="./img/h.jpg" class="img-responsive img-rounded  center-block" alt="Person" />
                                <h3 class="name">郝逸清</h3>
                            </a>
                            </ul-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section class="bg-success" id="team">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center to-animate">
                </div>
                <div class="row row-bottom-padded-lg">
                    <div class="col-lg-4 text-center">
                        <div class="person">
                            <img src="./img/w.jpg" class="img-responsive img-rounded center-block" alt="Person" />
                                <h3 class="name">王嘉澤</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center">
                        <div class="person">
                            <img src="./img/s.jpg" class="img-responsive img-rounded center-block" alt="Person" />
                                <h3 class="name">孫珮文</h3>
                            </a>
                            </ul-->
                        </div>
                    </div>
                    <div class="col-lg-4 text-center">
                        <div class="person">
                            <img src="./img/l.jpg" class="img-responsive img-rounded  center-block" alt="Person" />
                                <h3 class="name">李昀臻</h3>
                            </a>
                            </ul-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



	<div id="footerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-3">
				</div>
			
				<div class="col-lg-6">
				<h2>好食季團隊</h2>
<h4> Co-working, Co-creating</h4>
			
				</div>
				<div class="col-lg-3">
				</div>
			</div>
		</div>
	</div><! --/footerwrap -->
	


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
