<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Food Timing 好食季</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/recipe.css" rel="stylesheet">
</head>

<body>
    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- logo -->
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">好食季</a>
            </div>
            <!-- 導覽列 -->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.html">首頁</a></li>
                    <li><a href="#about">當季食物</a></li>
                    <li class="active"><a href="#works">推薦食物</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>



    <div id="headerwrap">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="content">
                        <div class="description">
                            <h3 class="title">桂圓紅棗芋頭甜湯</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content">
                        <div class="description">
                            <h3 class="price" id="price">價格:555元</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content">
                        <div class="description">
                            <h3 class="cal" id="cal">卡路里:333cal</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <section class="recipe">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8 border">
                    <img class="recipeimg" src="https://img-global.cpcdn.com/012_recipes/50a5c7e465ab5f3ae531653eee241e2f/640x640sq70/photo.jpg" alt="" />
                </div>
                <div class="col-md-2">
                </div>
            </div>
    </section>

    <section class="recipe">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8 border">
                <p class="h2">食材:</p>
                 <table>
                <tr>
                    <td>芋頭</td>
                    <td>1顆</td>
                </tr>
                <tr>
                    <td >龍眼</td>
                    <td>少許</td>
                </tr>
                <tr>
                    <td >鸚鵡糖</td>
                    <td>少許</td>
                </tr>
                <tr>
                    <td >龍眼干</td>
                    <td>25克</td>
                </tr>
            </table>
                <div class="col-md-2">
                </div>
            </div>
    </section>

    <section class="recipe">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8 border">
                <p class="h2">步驟:</p>
                 <table>
                <tr>
                    <td ><ol start="1"><li>水半鍋，紅棗去核(比較不上火)，先燒開。</li></td>
                </tr>
                <tr>
                    <td ><ol start="2"><li>放入龍眼一起滾開。</li></ol></td>
                </tr>
                <tr>
                    <td ><ol start="3"><li>芋頭先蒸熟，電鍋或是蒸爐蒸熟都可以，蒸爐100度c/40分鐘，不須去皮，等蒸熟外皮就很好撥下，也不會手癢。糖水轉小火，再放入蒸熟切塊的芋頭，滾開後立刻關火，悶一下，讓芋頭吸收湯汁，湯水也不混濁。</td>
                </tr>
            </table>
                <div class="col-md-2">
                </div>
            </div>
    </section>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js'></script>
</body>

</html>