<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Food Timing 好食季</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/search.css" rel="stylesheet">
</head>

<body>
    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- logo -->
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">好食季</a>
            </div>
            <!-- 導覽列 -->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.html">首頁</a></li>
                    <li><a href="#about">當季食物</a></li>
                    <li class="active"><a href="#works">推薦食物</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>



    <div id="headerwrap">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="content">
                        <div class="description">
                            <h3 class="title">芒果</h3>
                            <p class="small-text">mango</p>
                   </div>
                    </div>
                </div>

<div class='filter-group col-md-4'>
          <select class='form-control' data-filter-group='price' id='by-price'>
            <option data-filter='' value=''>價格</option>
            <option data-filter='低' value='low'>低</option>
            <option data-filter='高' value='height'>高</option>
          </select>
        </div>





            </div>
        </div>
    </div>

<section class="recipe">
  <div class="container">
    <div class="row" >
      <div class="col-md-12 ">
      </div>
    </div>
    <div class="row  border">
        <div class=" col-sm-4 col-md-4" >
        <img class="recipeimg" src="https://img-global.cpcdn.com/012_recipes/2dd43c796f869531/640x640sq70/photo.jpg" alt=""/>
        </div> 
      <div class="col-md-4">
        <p class="h2">食譜名稱:</p>
        <p class="content"></p>
      </div>
      <div class="col-md-4">
        <p class="h2">價格:</p>
        <p class="h2">卡路里：</p>
      </div>
    </div>
  </div>
</section>

<section class="recipe">
  <div class="container">
    <div class="row" >
      <div class="col-md-12 ">
      </div>
    </div>
    <div class="row  border">
        <div class=" col-sm-4 col-md-4" >
        <img class="recipeimg" src="https://img-global.cpcdn.com/012_recipes/2dd43c796f869531/640x640sq70/photo.jpg" alt=""/>
        </div> 
      <div class="col-md-4">
        <p class="h2">食譜名稱:</p>
        <p class="content"></p>
      </div>
      <div class="col-md-4">
        <p class="h2">價格:</p>
        <p class="h2">卡路里：</p>
      </div>
    </div>
  </div>
</section>
<section class="recipe">
  <div class="container">
    <div class="row" >
      <div class="col-md-12 ">
      </div>
    </div>
    <div class="row  border">
        <div class=" col-sm-4 col-md-4" >
        <img class="recipeimg" src="https://img-global.cpcdn.com/012_recipes/2dd43c796f869531/640x640sq70/photo.jpg" alt=""/>
        </div> 
      <div class="col-md-4">
        <p class="h2">食譜名稱:</p>
        <p class="content"></p>
      </div>
      <div class="col-md-4">
        <p class="h2">價格:</p>
        <p class="h2">卡路里：</p>
      </div>
    </div>
  </div>
</section>
<section class="recipe">
  <div class="container">
    <div class="row" >
      <div class="col-md-12 ">
      </div>
    </div>
    <div class="row  border">
        <div class=" col-sm-4 col-md-4" >
        <img class="recipeimg" src="https://img-global.cpcdn.com/012_recipes/2dd43c796f869531/640x640sq70/photo.jpg" alt=""/>
        </div> 
      <div class="col-md-4">
        <p class="h2">食譜名稱:</p>
        <p class="content"></p>
      </div>
      <div class="col-md-4">
        <p class="h2">價格:</p>
        <p class="h2">卡路里：</p>
      </div>
    </div>
  </div>
</section>










    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js'></script>
</body>

</html>